.container {
  input {
    width: 375px;
  }

  @media (max-width: 1000px) {
    input {
      width: 250px;
    }
  }

  @media (max-width: 878px) {
    input {
      width: 150px;
    }
  }

  @media (max-width: 763px) {
    input {
      width: 100%;
    }
  }
}
